
.wrapper-section-1 {
  background:  url('../../imgs/Mask-Group-2x.png') no-repeat right bottom;
  background-attachment: fixed;
  padding: 9rem 0 7rem;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.wrapper-section-2 {
  background: #05184b;
  padding: 4rem 0 5rem;
}
