
.wrapper-section-1 {
  padding: 9rem 0 7rem;
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0), #051542),
  url('../../imgs/Mask-Group-2x.png');
  width: 100%;
  background-position: center center;
  color: white;
  height: 100vh;
}

.wrapper-section-2 {
  background: #051542;
  padding: 4rem 0 5rem;
}
