.text-large {
  font-size: 65px;
}

.text-medium {
  font-size: 50px;
}

.text-small {
  font-size: 20px;
}

.text-orange{
  color: #FA4D09;
}

.icon-small{
  font-size: 17px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}